<div class="container-fluid">
    <div class="row" style="width: auto;height: 40px;background-color: #37495e;">
        <div style="margin-top:10px">
            <span class="offerText">OFFER</span>
            <span class="offerSubheading">Flat INR 600 off on all orders above INR 5000</span>
            <div style="float:right;margin-right:20px;">
                <span class="callText">CALL</span>
                <span class="callNumber">+91 9873046993</span>
                <span class="callText">EMAIL</span>
                <span class="callNumber">ravi@snaphy.com</span>
                <span class="callText">Delhi/NCR</span>
            </div>
        </div>
    </div>

    <div class="row accountSection">
        <div class="logo">
            <img src="../website/images/logo.png" height="50px;" style="margin-left:22px;margin-top:20px;" />
        </div>
        <div class="accountSectionParentMenu">
            <span class="accountSectionMenu" style="color: #afb1b4;">TAILORING</span>
            <span class="accountSectionMenu">FABRICS</span>
            <span class="accountSectionMenu" style="color: #afb1b4;">ACCESSORIES</span>
            <span class="accountSectionMenu" style="color: #afb1b4;float:right;margin-right:20px">MY ACCOUNT</span>
            <span class="logo"></span>
        </div>
    </div>
</div>